body {
    background-color: #bbbbbb;
    text-align: center;
}

.float-container {
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
    text-align: center;
    margin: 0 25%;
}

.float-child {
    float: left;
    width: 30%;
    margin: 10px;
}

.btn {
    border-radius: 10px;
    text-align: center;
    padding: 55px 0 0 0;
    width: 100%;
    height: 100px;
    background-color: #d5d5d5;
    margin: 5px;
}

.loadbar {
    background-color: #666;
    border-radius: 5px;
    height: 25px;
    margin: 25px 25px;
}

.loadbar > span {
    background-color: #d5d5d5;
    border-radius: 5px;
    display: block;
    height: 100%;
    width: 0px;
}
